    <div class="container nopadding" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading"><b>List of Point of Interest</b></h3>
                        <br>
                        <ul>
                            <li ng-repeat="poi in pois">{{poi.name}}</li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="col-xs-12">
                <form name="user_form" novalidate>
                    Insert Poi Name: <input type="text" ng-model="poi.name" /><br />
                    <input type="submit" ng-click="update(poi)" value="Save" />
                </form>
            </div>
        </div>
    </div>
